.App {
  text-align: center;
}

.App-header {
  height: 20vh;
}

main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.formWrapper {
  width: 175px;
}

.formWrapper input {
  margin-bottom: 10px;
}